*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 50px;


}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    color: beige;
}